.header__lang-link {
  text-decoration: none;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0 18px 0 0;
  padding: 0;
}

.header__lang-link:last-child {
  margin: 0;
}
