.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0;
  margin: 0 auto;
  max-width: 90%;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 92.5%;
  }
}
