.footer__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  transition: color .2s linear;
  margin: 0 18px 0 0;
}

.footer__link:hover {
  color: rgba(255, 255, 255, .8);
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
