.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  padding: 0;
  color: white;
  text-align: center;
  font-family: "inter", sans-serif;
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;
}
